<app-title [title]="options?.title ?? ''">
  <button
    *ngIf="!loading"
    (click)="onShowForm()"
    type="button"
    class="btn btn-sm btn-outline-secondary"
  >
    Agregar
  </button>
</app-title>

<!-- DATA LOADED STATE -->
<ng-container *ngIf="!displayForm">
  <app-placeholder
    *ngIf="!loading && (!models || !models.length)"
    (onAdd)="onShowForm()"
  >
  </app-placeholder>

  <app-table
    *ngIf="!loading && models && models.length"
    [items]="models"
    [options]="options?.tableOptions ?? {}"
    (onAction)="onTableAction($event)"
  >
  </app-table>
</ng-container>

<!-- DATA LOADING STATE -->
<div class="text-center pt-5" *ngIf="loading">
  <app-loader width="100px" height="100px"></app-loader>
</div>

<!-- FORM STATE -->
<ng-container *ngIf="displayForm && form">
  <h2 class="subtitle">
    {{ form.value.id ? "Editar" : "Agregar" }} {{ options?.entity }}
  </h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ng-content select=".form"></ng-content>

    <div class="form-group">
      <button class="btn btn-dark m-2" (click)="onCancelForm()">Volver</button>
      <button type="submit" class="btn btn-success" [disabled]="formLoading">
        <app-loader [white]="true" *ngIf="formLoading"></app-loader>
        Guardar
      </button>

      <app-alert [isError]="true" *ngIf="error">{{ error }}</app-alert>
    </div>
  </form>
</ng-container>

<!-- DATA TO BE DELETED STATE -->
<app-confirm
  [state]="!!modelToDelete"
  (onClose)="onCloseDeleteDialog()"
  (onConfirm)="onConfirmDeleteDialog()"
>
</app-confirm>
