<app-popup-container>
    <div class="container">
        <h3 class="title">Iniciar sesión</h3>
        <form [formGroup]="form" (submit)="onLogin()">
            <div class="mb-4">
                <label for="email">
                    Correo electrónico
                </label>
                <input 
                    id="email"
                    type="email" 
                    placeholder="Correo electrónico" 
                    formControlName="email"/>
            </div>

            <div class="mb-4">
                <label for="passwod">
                    Clave
                </label>
                <input 
                    id="passwod"
                    type="password" 
                    placeholder="Clave" 
                    formControlName="password"/>
            </div>

            <div class="button-container">
                <button
                    [disabled]="loading || !form.valid"
                    [class.disabled]="loading || !form.valid"
                    class="primary-button"
                    type="submit">
                    {{ loading ? 'Cargando...' : 'Ingresar' }}
                </button>
            </div>
        </form>
    </div>
</app-popup-container>