<app-popup-container>
    <div class="container">
        <h3 class="title">Iniciar sesión</h3>
        <form>
            <div class="mb-4">
                <label for="email">
                    Correo electrónico
                </label>
                <input 
                    id="email"
                    type="email" 
                    placeholder="Correo electrónico" />
            </div>

            <div class="mb-4">
                <label for="passwod">
                    Clave
                </label>
                <input 
                    id="passwod"
                    type="passwod" 
                    placeholder="Clave" />
            </div>

            <div class="button-container">
                <button
                    class="primary-button"
                    type="button">
                    Ingresar
                </button>
            </div>
        </form>
    </div>
</app-popup-container>