<div class="login-container">
  <div class="login-form-section">
    <div class="login-form">
      <i-feather name="cpu" class="login-icon"></i-feather>
      <h1 class="h2">Intranet</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            formControlName="username"
            placeholder="Ingrese el email"
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Ingrese la clave"
            autocomplete="off"
          />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-dark" [disabled]="loading">
            <app-loader [white]="true" *ngIf="loading"></app-loader>
            Iniciar sesión
          </button>

          <app-alert [isError]="true" *ngIf="error">{{ error }}</app-alert>
        </div>
      </form>
    </div>
  </div>
  <div class="login-bg-section"></div>
</div>
