<nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="h-8 w-8" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow">
          </div>
          <div class="flex-shrink-0">
            <p class="ml-2 text-2xl text-white">Intranet</p>
          </div>
        </div>
        <div class="-mr-2 flex">
          <button 
            (click)="onToggleMenuState()"
            type="button" 
            class="menu-button" 
            aria-controls="mobile-menu" 
            aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  
    <div class="" id="mobile-menu" [class.hidden]="!menuState">
      <div class="menu-links-container">
        <a 
          routerLink="/intranet" 
          routerLinkActive="menu-link-active" 
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="onToggleMenuState()" class="menu-link">Inicio</a>

          <a 
          routerLink="/intranet/nutritions" 
          routerLinkActive="menu-link-active" 
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="onToggleMenuState()" class="menu-link">Planificar semana</a> 
                 
        <a href="#" (click)="onLogout($event)" class="menu-link">Cerrar sesión</a>
      </div>
    </div>
  </nav>