<app-page-header text="Planificación semanal"></app-page-header>
<app-page-container>
        <div class="inline-block shadow rounded-lg w-full">
            <table class="min-w-full leading-normal">
                <tbody>
                    <tr>
                        <td class="px-5 py-5 border-b border-gray-200 bg-purple-600 text-sm">
                            <p class="text-white whitespace-no-wrap text-center">
                                Lunes
                            </p>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                            <p class="text-gray-900">
                                Café con leche y fiambre
                            </p>

                            <button class="py-2 px-2 text-red-400">
                                <svg class="w-4 h-4 inline-block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                </svg>
                                Remove
                            </button>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                            <button
                                class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded border-b-4 border-purple-500"
                                type="button">
                                Almuerzo
                            </button>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                            <button
                                class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded border-b-4 border-purple-500"
                                type="button">
                                Merienda
                            </button>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                            <button
                                class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded border-b-4 border-purple-500"
                                type="button">
                                Cena
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="px-5 py-5 border-b border-gray-200 bg-purple-600 text-sm">
                            <p class="text-white whitespace-no-wrap text-center">
                                Martes
                            </p>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                            <button
                                class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded border-b-4 border-purple-500"
                                type="button">
                                Desayuno
                            </button>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                            <button
                                class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded border-b-4 border-purple-500"
                                type="button">
                                Almuerzo
                            </button>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                            <button
                                class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded border-b-4 border-purple-500"
                                type="button">
                                Merienda
                            </button>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                            <button
                                class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded border-b-4 border-purple-500"
                                type="button">
                                Cena
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="px-5 py-5 border-b border-gray-200 bg-purple-600 text-sm">
                            <p class="text-white whitespace-no-wrap text-center">
                                Miércoles
                            </p>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                            <button
                                class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded border-b-4 border-purple-500"
                                type="button">
                                Desayuno
                            </button>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                            <button
                                class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded border-b-4 border-purple-500"
                                type="button">
                                Almuerzo
                            </button>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                            <button
                                class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded border-b-4 border-purple-500"
                                type="button">
                                Merienda
                            </button>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                            <button
                                class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded border-b-4 border-purple-500"
                                type="button">
                                Cena
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="px-5 py-5 border-b border-gray-200 bg-purple-600 text-sm">
                            <p class="text-white whitespace-no-wrap text-center">
                                Jueves
                            </p>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                            <button
                                class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded border-b-4 border-purple-500"
                                type="button">
                                Desayuno
                            </button>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                            <button
                                class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded border-b-4 border-purple-500"
                                type="button">
                                Almuerzo
                            </button>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                            <button
                                class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded border-b-4 border-purple-500"
                                type="button">
                                Merienda
                            </button>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                            <button
                                class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded border-b-4 border-purple-500"
                                type="button">
                                Cena
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="px-5 py-5 border-b border-gray-200 bg-purple-600 text-sm">
                            <p class="text-white whitespace-no-wrap text-center">
                                Viernes
                            </p>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                            <button
                                class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded border-b-4 border-purple-500"
                                type="button">
                                Desayuno
                            </button>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                            <button
                                class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded border-b-4 border-purple-500"
                                type="button">
                                Almuerzo
                            </button>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                            <button
                                class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded border-b-4 border-purple-500"
                                type="button">
                                Merienda
                            </button>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                            <button
                                class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded border-b-4 border-purple-500"
                                type="button">
                                Cena
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</app-page-container>