<app-panel [options]="options" [form]="form" [updateModel]="updateModel">
  <div class="form" [formGroup]="form">
    <div class="form-group my-4">
      <input
        type="text"
        class="form-control"
        formControlName="title"
        placeholder="Ingrese el título"
      />
    </div>
    <div class="form-group my-4">
      <textarea
        class="form-control"
        formControlName="content"
        placeholder="Ingrese la descripción"
      >
      </textarea>
    </div>
    <div class="input-group my-4">
      <input
        type="text"
        class="form-control"
        formControlName="pictureUrl"
        placeholder="Ingrese la Url de la foto"
      />
      <div class="input-group-append">
        <button (click)="onOpenGoogleDriveUrl()" class="btn mx-2 google-drive">
          &nbsp;
        </button>
      </div>
    </div>

    <h2 class="subtitle">
      Ingredientes
      <button
        (click)="onAddIngredient()"
        type="button"
        class="btn btn-sm btn-dark"
      >
        Agregar
      </button>
    </h2>
    <ng-container formArrayName="ingredients">
      <div
        class="row my-4"
        *ngFor="let group of getIngredients().controls; let i = index"
        [formGroupName]="i"
      >
        <div class="col">
          <select
            class="form-select"
            formControlName="productId"
            (change)="onProductChange(i)"
          >
            <option value="">Seleccione un producto</option>
            <option [value]="product.id" *ngFor="let product of products">
              {{ product.name }}
            </option>
          </select>
          <input type="hidden" formControlName="product" />
        </div>
        <div class="col">
          <select
            class="form-select"
            formControlName="unitId"
            (change)="onUnitChange(i)"
          >
            <option value="">Seleccione una unidad</option>
            <option [value]="unit.id" *ngFor="let unit of units">
              {{ unit.name }} / {{ unit.plural }}
            </option>
          </select>
          <input type="hidden" formControlName="unit" />
        </div>
        <div class="col">
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              formControlName="quantity"
              placeholder="Ingrese la cantidad"
            />
            <div class="input-group-append">
              <button
                class="btn btn-danger ms-4"
                (click)="onRemoveIngredient(i)"
              >
                <span>
                  <i-feather name="trash-2" class="icon"></i-feather>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</app-panel>

<app-google-drive-url (onConfirm)="onConfirmGoogleDriveUrl($event)">
</app-google-drive-url>
