<app-panel [options]="options" [form]="form" [updateModel]="updateModel">
  <div class="form" [formGroup]="form">
    <div class="form-group my-4">
      <input
        type="text"
        class="form-control"
        formControlName="title"
        placeholder="Ingrese el título"
      />
    </div>
    <div class="form-group my-4">
      <textarea
        class="form-control"
        formControlName="content"
        placeholder="Ingrese la descripción"
      >
      </textarea>
    </div>
    <div class="input-group my-4">
      <input
        type="text"
        class="form-control"
        formControlName="pictureUrl"
        placeholder="Ingrese la Url de la foto"
      />
      <div class="input-group-append">
        <button (click)="onOpenGoogleDriveUrl()" class="btn mx-2 google-drive">
          &nbsp;
        </button>
      </div>
    </div>
  </div>
</app-panel>

<app-google-drive-url (onConfirm)="onConfirmGoogleDriveUrl($event)">
</app-google-drive-url>
