<nav
  id="sidebarMenu"
  [class.show]="status"
  class="col-md-4 col-lg-2 d-md-block bg-light sidebar collapse"
>
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          [routerLink]="['/intranet']"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
        >
          <i-feather name="home" class="icon"></i-feather>
          Dashboard
        </a>
      </li>
    </ul>

    <h6
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase"
    >
      <span>Salud</span>
    </h6>

    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          [routerLink]="['/intranet/health/units']"
          routerLinkActive="active"
        >
          <i-feather name="box" class="icon"></i-feather>
          Unidades
        </a>
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          [routerLink]="['/intranet/health/products']"
          routerLinkActive="active"
        >
          <i-feather name="package" class="icon"></i-feather>
          Productos
        </a>
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          [routerLink]="['/intranet/health/recipes']"
          routerLinkActive="active"
        >
          <i-feather name="file-text" class="icon"></i-feather>
          Recetas
        </a>
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          [routerLink]="['/intranet/health/recipe-types']"
          routerLinkActive="active"
        >
          <i-feather name="folder" class="icon"></i-feather>
          Categorías de recetas
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" (click)="onLogout($event)">
          <i-feather name="log-out" class="icon"></i-feather>
          Salir
        </a>
      </li>
    </ul>
  </div>
</nav>
